global:
  scrape_interval: 15s 

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node_exporter-dev-1-vm-1:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor-dev-1-vm-1:8081']