stages:
  - test
  - config
  - deploy

# cloudy
prometheus-cloudy-vm-1:
  trigger:
    include:
      - local: deployments/prometheus-cloudy-vm-1/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/prometheus-cloudy-vm-1/**/*'
    - when: manual

node-exporter-cloudy-vm-1:
  trigger:
    include:
      - local: deployments/node-exporter-cloudy-vm-1/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/node-exporter-cloudy-vm-1/**/*'
    - when: manual

cadvisor-cloudy-vm-1:
  trigger:
    include:
      - local: deployments/cadvisor-cloudy-vm-1/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/cadvisor-cloudy-vm-1/**/*'
    - when: manual

# portainer
prometheus-portainer-vm-1:
  trigger:
    include:
      - local: deployments/prometheus-portainer-vm-1/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/prometheus-portainer-vm-1/**/*'
    - when: manual

node-exporter-portainer-vm-1:
  trigger:
    include:
      - local: deployments/node-exporter-portainer-vm-1/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/node-exporter-portainer-vm-1/**/*'
    - when: manual

cadvisor-portainer-vm-1:
  trigger:
    include:
      - local: deployments/cadvisor-portainer-vm-1/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/cadvisor-portainer-vm-1/**/*'
    - when: manual

# dev-1
prometheus-dev-1-vm-1:
  trigger:
    include:
      - local: deployments/prometheus-dev-1-vm-1/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/prometheus-dev-1-vm-1/**/*'
    - when: manual

node-exporter-dev-1-vm-1:
  trigger:
    include:
      - local: deployments/node-exporter-dev-1-vm-1/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/node-exporter-dev-1-vm-1/**/*'
    - when: manual

cadvisor-dev-1-vm-1:
  trigger:
    include:
      - local: deployments/cadvisor-dev-1-vm-1/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/cadvisor-dev-1-vm-1/**/*'
    - when: manual

# dev-2
prometheus-dev-2-vm-1:
  trigger:
    include:
      - local: deployments/prometheus-dev-2-vm-1/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/prometheus-dev-2-vm-1/**/*'
    - when: manual

prometheus-dev-2-vm-2:
  trigger:
    include:
      - local: deployments/prometheus-dev-2-vm-2/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/prometheus-dev-2-vm-2/**/*'
    - when: manual

node-exporter-dev-2-vm-2:
  trigger:
    include:
      - local: deployments/node-exporter-dev-2-vm-2/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/node-exporter-dev-2-vm-2/**/*'
    - when: manual

cadvisor-dev-2-vm-2:
  trigger:
    include:
      - local: deployments/cadvisor-dev-2-vm-2/.gitlab-ci.yml
    strategy: mirror
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      changes:
        - 'deployments/cadvisor-dev-2-vm-2/**/*'
    - when: manual