---
services:
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.55.1
    container_name: cadvisor-dev-2-vm-2
    ports:
      - 8081:8080
    volumes:
      - /:/rootfs:ro
      - /sys:/sys:ro
      - /dev/disk/:/dev/disk:ro
      # 1. Correct Socket Path for Snap
      - /var/snap/docker/common/run/docker.sock:/var/run/docker.sock:ro
      # 2. Correct Data Path for Snap
      - /var/snap/docker/common/var-lib-docker/:/var/lib/docker:ro
    command:
      # 3. Tell cAdvisor to use the path we mounted above
      - '--docker_root=/var/lib/docker'
    devices:
      - /dev/kmsg
    privileged: true
    restart: unless-stopped
    networks:
      - monitoring

networks:
  monitoring:
    name: monitoring
    driver: bridge
    attachable: true