---
services:
  node_exporter:
    image: quay.io/prometheus/node-exporter:v1.10.2
    container_name: node_exporter-dev-2-vm-2
    ports:
      - 9100:9100
    command: "--path.rootfs=/host"
    pid: host
    restart: unless-stopped
    volumes:
      - /:/host:ro
    networks:
      - monitoring

networks:
  monitoring:
    name: monitoring
    driver: bridge
    attachable: true